<div class="page">
  <h1>URL Statistics</h1>

  <div class="url-item">
    <div class="url-title"><%= @url.title %></div>
    <div>Original: <%= link_to @url.target_url, @url.target_url, target: "_blank", class: "url-link" %></div>
    <div>Short URL: <%= link_to visit_url(@url.short_path), visit_url(@url.short_path), target: "_blank", class: "url-link" %></div>
    <div>Total Clicks: <%= @visits.count %></div>
  </div>

  <% if @visits.any? %>
    <table>
      <thead>
        <tr>
          <th>Time</th>
          <th>Location</th>
          <th>IP Address</th>
        </tr>
      </thead>
      <tbody>
        <% @visits.each do |visit| %>
          <tr>
            <td><%= visit.created_at %></td>
            <td><%= visit.location %></td>
            <td><%= visit.ip_address %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div> 